@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
:root {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
 
}

body {
  background-color: black;
  font-family: sans-serif;
  height: 200vh;
  width: 100%;
  
}
